@model TimeList
@{
    ViewData["Title"] = "Home Page";
}
<style>
    h1, h4, p {
        color: white;
        line-height: 1.4;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
    }
</style>
<div class="card text-center" style="background-color:#1d4380;">
    <div class="card-body">
        <br />
        <h1>Park West Commute</h1>
        <h4>Real-time public transport information for Dublin Bus, Express Bus, Luas and Irish Rail</h4>
        <p class="card-text">Click on pins to view departure locations</p>
        @*<p class="card-title">
            Check the real time of public transport from Park West.
        </p>*@
        <p class="card-text">
            Last Updated: @Model.LastRefresh
        </p>
        <a class="btn btn-default" href="@Url.Action("Index", "Home")">
            Refresh
        </a>
        <br />
        <br />
        <br />
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <h2>
            <a href="https://www.google.com/maps/place/Parkwest,+Park+West+Avenue/@@53.3326304,-6.3775461,16.29z/data=!4m13!1m7!3m6!1s0x48670ccb1f02fa4f:0x2600c7a7bb391602!2sPark+West+Business+Park,+Dublin!3b1!8m2!3d53.3309033!4d-6.3745927!3m4!1s0x48670ccb6d5aa879:0x8704871ba98eaeae!8m2!3d53.3326589!4d-6.3753453" target="_blank">
                <img src="~/images/pin.png" width="28" height="28" />
                Bus 79A
            </a>
        </h2>
        <ul>
            @foreach (var item in Model.Bus79a)
            {
                <li>@item.DepartureTimeStr</li>
            }
        </ul>
    </div>
    <div class="col-md-2">
        <h2>
            <a href="https://www.google.com/maps/place/Fox+%26+Geese,+New+Nangor+Road+(Willow+Road)/@@53.3280599,-6.3693299,16.97z/data=!4m13!1m7!3m6!1s0x48670ccb1f02fa4f:0x2600c7a7bb391602!2sPark+West+Business+Park,+Dublin!3b1!8m2!3d53.3309033!4d-6.3745927!3m4!1s0x48670cb7b27aa63d:0x7d7eb8451992843e!8m2!3d53.3270726!4d-6.3657986" target="_blank">
                <img src="~/images/pin.png" width="28" height="28" />
                Bus 151
            </a>
        </h2>
        <ul>
            @foreach (var item in Model.Bus151)
            {
                <li>@item.DepartureTimeStr</li>
            }
        </ul>
    </div>
    <div class="col-md-2">
        <h2>
            <a href="https://www.google.com/maps/place/53%C2%B019'52.9%22N+6%C2%B022'23.4%22W/@@53.331355,-6.375352,17z/data=!3m1!4b1!4m14!1m7!3m6!1s0x48670ccb1f02fa4f:0x2600c7a7bb391602!2sPark+West+Business+Park,+Dublin!3b1!8m2!3d53.3309033!4d-6.3745927!3m5!1s0x0:0x0!7e2!8m2!3d53.3313549!4d-6.3731585" target="_blank">
                <img src="~/images/pin.png" width="28" height="28" />
                Bus 860
            </a>
        </h2>
        <ul>
            @foreach (var item in Model.Bus860)
            {
                <li>@item.DepartureTimeStr</li>
            }
        </ul>
    </div>
    <div class="col-md-3">
        <h2>
            <a href="https://www.google.com/maps/place/Kylemore+Luas+Stop/@@53.3299168,-6.3685091,14.75z/data=!4m13!1m7!3m6!1s0x48670ccb1f02fa4f:0x2600c7a7bb391602!2sPark+West+Business+Park,+Dublin!3b1!8m2!3d53.3309033!4d-6.3745927!3m4!1s0x48670c9445b048a7:0xf55c0134a77177e3!8m2!3d53.3266344!4d-6.3438052" target="_blank">
                <img src="~/images/pin.png" width="28" height="28" />
                Luas (Kylemore)
            </a>
        </h2>
        <ul>
            @foreach (var item in Model.Luas)
            {
                <li>@item.DepartureTimeStr</li>
            }
        </ul>
    </div>
    <div class="col-md-3">
        <h2>
            <a href="https://www.google.com/maps/place/Park+West+and+Cherry+Orchard/@@53.3326304,-6.3775461,16.29z/data=!4m13!1m7!3m6!1s0x48670ccb1f02fa4f:0x2600c7a7bb391602!2sPark+West+Business+Park,+Dublin!3b1!8m2!3d53.3309033!4d-6.3745927!3m4!1s0x4867733358472f6d:0x5471c27ac709ed5!8m2!3d53.3340284!4d-6.3787866" target="_blank">
                <img src="~/images/pin.png" width="28" height="28" />
                Train
            </a>
        </h2>
        <ul>
            @foreach (var item in Model.Train)
            {
                <li>@item.DepartureTimeStr</li>
            }
        </ul>
    </div>

</div>
